@{
  Layout = "_Layout";
}
@using PierresVendors.Models;

<h3>ORDER NO. @Model.Id</h3>

<h5>Title: @Model.Title</h5>
<h5>Description: @Model.Description</h5>
<h5>Quantity: @Model.Quantity</h5>
<h5>Price: @Model.Price</h5>
<h5>Frequency: @Model.Frequency</h5>
<h5>Date: @Model.Date</h5><br>

<p><a href='/'>RETURN HOME</a>